{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block content %}
    <div class="container">
        <div class="form">
            <h1>Login</h1>

            {% if messages %}
            <div class="error-messages"> 
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            <form method="post" action="{% url 'connexion' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">


            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password</label>
            <input type="password" name="password" required>
            <button type="submit">Log in</button>
        </form>
        <p class="link">Not registered yet ? <a href="{% url 'inscription' %}">Register</a></p>
        </div>
    </div>

{% endblock %}
